body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei;
    color: #000;
    background-color: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: #ccc;
    text-decoration: none;
}
/* 搜索模块 */
.search_index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.user {
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;

}
.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 3px auto 0;
}
.search {
    position: relative;
    height: 26px;
    border: 1px solid #ccc;
    margin: 8px 10px;
    border-radius: 5px;
    background-color: #fff;
    line-height: 24px;
    padding-left: 25px;
    color: #666;
    font-size: 12px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    flex: 1;
}
.search::before {
    position: absolute;
    top:5px;
    left:5px;
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}

/* 焦点图模块 */
.focus {
    margin-top: 44px;
}
.focus img {
    width: 100%;
}

/* 局部导航栏 */
.local_nav {
    display: flex;
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.local_nav li {
    flex: 1;
}
.local_nav li a {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #222;
    font-size: 12px;
}
.local_nav li a [class^="local_nav_icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local_nav li a .local_nav_icon2 {
    background: url(../images/localnav_bg.png) no-repeat 0 -32px;
    background-size: 32px auto;
}
.local_nav li a .local_nav_icon3 {
    background: url(../images/localnav_bg.png) no-repeat 0 -64px;
    background-size: 32px auto;
}
.local_nav li a .local_nav_icon4 {
    background: url(../images/localnav_bg.png) no-repeat 0 -96px;
    background-size: 32px auto;
}
.local_nav li a .local_nav_icon5 {
    background: url(../images/localnav_bg.png) no-repeat 0 -128px;
    background-size: 32px auto;
}

/* 主导航栏 */
.nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px;
}
.nav_com {
    display: flex;
    height: 88px;
    margin-bottom: 3px;
}
.nav_com:nth-child(1) {
        /* 背景颜色渐变 */
    background: -webkit-linear-gradient(left,#FA5a55,#FA994D);
}
.nav_com:nth-child(2) {
    /* 背景颜色渐变 */
background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav_com:nth-child(3) {
    /* 背景颜色渐变 */
background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.nav_items {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav_items:nth-child(-n+2) {
    border-right: 1px solid #fff;
}
.nav_items a {
    flex: 1;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.nav_items a:first-child {
    border-bottom: 1px solid #fff;
}
.nav_items:first-child a {
    border-bottom: 0;
    background: url(../images/hotel.png) no-repeat bottom center; 
    background-size: 121px auto;
}

/* subnav模块 */
.subnav {
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    padding: 5px 0;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.subnav li{
    flex: 20%;
}
.subnav li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222;
    font-size: 12px;
}
.subnav_icon {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
    margin-top: 4px;
}

/* 销售模块 */
.sales_box {
    position: relative;
    border-top: 1px solid #bbb;
    background-color: #fff;
}
.sales-hd {
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales-hd h2 {
    position: relative;
    font-size: 0;
}
.sales-hd h2::after {
    position: absolute;
    top: 13px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    right: 5px;
    top: 10px;
    padding: 0 20px 0 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(left,#ff506c,#ff6bc6);
    font-size: 14px;
    color: #fff;
}
.more::after {
    position: absolute;
    top: 6px;
    right: 8px;
    content: '';
    width: 7px;
    height: 7px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: rotate(45deg);
}
.sales-bd div[class^="row"] {
    display: flex;
}
.sales-bd div[class^="row"] a {
    flex: 1;
    border-bottom: 1px solid #eee;
}
.sales-bd div[class^="row"] a img {
    width: 100%;
}
.sales-bd div[class^="row"] a:nth-child(1) {
    border-right: 1px solid #eee;
}