table {
    border-collapse: collapse;
}

td {
    padding: 20px 20px;
    border: 1px solid #ccc;
}

tr:nth-child(2n) {
    background-color: #bef;
}

tr:nth-child(2n-1) {
    background-color: #efa;
}

tr .active {
    background-color: #000;
}